@font-face {
  font-family: genos;
  src: url("/fonts/genos/Genos-VariableFont_wght.ttf");
}

:root {
  font-family: "genos", sans-serif;
  font-size: 24px;
  color: #151583;
  letter-spacing: .08rem;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #e6e6e6;
}

a {
  text-decoration: none;
}

a:visited {
  color: #151583;
}

a:hover {
  color: #3838df;
}

button {
  font-family: "genos", sans-serif;
  font-size: .8rem;
  padding-bottom: .1rem;
  border: 1px solid grey;
  border-radius: .1rem;
  color: grey;
  font-weight: 500;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.safe:hover {
  color: #66aa66;
  border-color: #66aa66;
  outline: #66aa66;
  background: #f2f2f2;
}

.danger:hover {
  color: #bb4444;
  border-color: #bb4444;
  outline: #bb4444;
  background: #f2f2f2;
}

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #44444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.confirm.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.confirm .modal {
  background: #f2f2f2;
  height: 4rem;
  padding: .6rem 1rem;
  border-radius: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.confirm .modal .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm .modal .controls button {
  margin: .6rem 1rem;
  height: 1.4rem;
  width: 3rem;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .3s 0s ease-in-out;
  transition: all .3s 0s ease-in-out;
}

.source {
  background: #f2f2f2;
  border-radius: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  padding: 0 0.5rem;
}

.source .name {
  margin: 0;
}

.source .url {
  font-style: italic;
}

.source .options {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  position: relative;
  width: 2.5rem;
}

.source .options.show .menu {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.source .options .menu {
  background: #f2f2f2;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 2.5rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s 0s ease-in-out;
  transition: -webkit-transform .3s 0s ease-in-out;
  transition: transform .3s 0s ease-in-out;
  transition: transform .3s 0s ease-in-out, -webkit-transform .3s 0s ease-in-out;
}

.source .options .menu form,
.source .options .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}

.source .options .menu :is(button, a) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  border-radius: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto;
  text-align: center;
  vertical-align: center;
}

.source .options .menu :is(button, a) svg {
  height: 28px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.source .options .menu :is(button, a).edit {
  color: #66aa66;
}

.source .options .menu :is(button, a).delete {
  color: #bb4444;
}

.source .options:hover .dot div,
.source .options:hover .dot div::before,
.source .options:hover .dot div::after {
  background: #3838df;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.source .options .dot {
  width: 2.5rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.source .options .dot div {
  background: #1c1caf;
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  position: relative;
  margin: 0 1rem;
}

.source .options .dot div::before, .source .options .dot div::after {
  content: '';
  background: #151583;
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: -webkit-transform .6s 0s ease-in-out;
  transition: -webkit-transform .6s 0s ease-in-out;
  transition: transform .6s 0s ease-in-out;
  transition: transform .6s 0s ease-in-out, -webkit-transform .6s 0s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.source .options .dot div::before {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.source .options .dot div::after {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
/*# sourceMappingURL=main.css.map */