$green: #66aa66;
$red: #bb4444;

$fg-color: #151583;
$fg-accent: lighten($fg-color, 10%);
$fg-glow: lighten($fg-color, 25%);

$bg-color: #e6e6e6;
$card-bg: #f2f2f2;

$dot-size: .25rem;
$dot-offset: .5rem;
$btn-size: 2rem;
$toggle-width: 2.5rem;

$pd-lr: 0 .5rem;