@import 'var';
@import 'config';

.source {
    background: $card-bg;
    border-radius: .2rem;
    display: flex;
    margin: 1rem;
    padding: $pd-lr;
    
    & .name {
        margin: 0;
    }

    & .url {
        font-style: italic;
    }

    & .options {
        align-items: center;
        align-self: center;
        background: $card-bg;
        display: flex;
        flex-direction: row-reverse;
        height: $btn-size;
        justify-content: center;
        margin-left: auto;
        position: relative;
        width: $toggle-width;

        &.show {            
            & .menu{
                transform: scaleX(1);
            }
        }

        & .menu {
            background: $card-bg;
            border-right: none;
            display: flex;
            height: inherit;
            justify-content: space-between;
            position: absolute;
            right: $toggle-width;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s 0s ease-in-out;

            & form,
            & a {
                display: flex;
                margin: $pd-lr;
                padding: $pd-lr;
            }

            & :is(button, a) {
                align-items: center;
                background: none;
                border: none;
                border-radius: none;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                justify-content: center;
                padding: auto;  
                text-align: center;
                vertical-align: center;

                & svg {
                    height: 28px;
                    transform: scale(1.3);
                    transform-origin: center;
                }

                &.edit {
                    color: $green;
                }

                &.delete {
                    color: $red;
                }
            }
        }

        &:hover {
            & .dot,
            & .dot::before,
            & .dot::after {
                background: $fg-glow;
                transform: translateY(0);
            }
        }

        & .dot {
            background: $fg-accent;
            cursor: pointer;
            height: $dot-size;
            width: $dot-size;
            border-radius: 50%;
            position: relative;
            margin: 0 1rem;

            &::before,
            &::after {
                content: '';
                background: $fg-color;
                height: $dot-size;
                width: $dot-size;
                border-radius: 50%;
                position: absolute;
                transition: transform .6s 0s ease-in-out;
                transform-origin: center;
            }

            &::before {
                transform: translateY($dot-offset);
            }
            &::after {
                transform: translateY(-$dot-offset)
            }
        }
    }
}