:root {
    --btn-size: 9vh;
    --btn-bg: #585f66e6;
    --btn-fg: #e1e8ee;
    --border-fg: #e1e8ee75;
    --border-h: calc(var(--btn-size) * .7);
    --border-top: calc(var(--border-h) * .25);

    --animate-fast: .12s 0s linear;
    --animate-slow: .18s 0s linear;

    --svg-size: calc(var(--btn-size) * .7);
    --svg-pos: 
        calc(
            calc(var(--btn-size) * .5)
            -
            calc(var(--svg-size) * .5)
        );

    --panel-bottom: calc(var(--btn-size) * .6);

    --menu-w-compact: calc(var(--btn-size) * .25);
    --menu-burger-h: calc(var(--btn-size) * .04);
    --menu-burger-w: calc(var(--btn-size) * .5);
    --menu-burger-left: 
        calc(
            calc(var(--btn-size) * .5)
            -
            calc(var(--menu-burger-w) * .5) 
        );
    --menu-burger-top: calc(
        calc(var(--btn-size) * .5)
        -
        calc(var(--menu-burger-h) * .5) 
    );
    --menu-burger-offset: calc(
        var(--menu-burger-top)
        -
        calc(var(--btn-size) * .65)
    );
}


.panel {
    position: fixed;
    bottom: var(--panel-bottom);
    left: 0;
    background: transparent;
    font-size: 0;
}

.panel .btn.notify {
    width: calc(var(--btn-size) * 3);
    font-size: calc(var(--btn-size) * .2);
    color: var(--btn-fg);
    font-family: sans-serif;
    cursor: default;
    padding: 
        calc(var(--btn-size) * .1)
        calc(var(--btn-size) * .2);
}
.panel .btn.notify p {
    margin: 0;
    word-wrap: break-all;
    line-break: anywhere;
}
.panel .btn.notify p:first-of-type {
    font-weight: 700;
}

.panel .btn {
    box-sizing: border-box;
    height: var(--btn-size);
    width: var(--btn-size);
    background: var(--btn-bg);

    display: inline-block;
    position: relative;
    border-radius: 0;
    border: none;
    cursor: pointer;

    vertical-align: middle;
    margin: 0;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.panel > 
.btn:not(:first-child):not(.hide)::before {
    content: '';
    height: var(--border-h);
    width: 1px;
    background: var(--border-fg);

    position: absolute;
    top: var(--border-top);
    left: 0;
}

.panel .btn {
    transition: 
        transform var(--animate-slow),
        background var(--animate-fast);
}
.panel .btn:hover {
    background: #626a72c0;
    transition: background var(--animate-fast);
}

.panel.compact > *:not(:first-child),
.panel .btn.hide {
    transform: scaleX(0);
}

.panel.compact .btn.menu {
    transform: scaleX(.35);
    transform-origin: left;
}
.panel.compact .btn.menu:hover {
    transform: scaleX(1);
    transform-origin: left;
    transition: 
        transform var(--animate-slow),
        background var(--animate-fast);
}
.panel.compact .btn.menu div {
    background: var(--btn-fg);
    transform: translateX(0);
}
.panel.compact .btn.menu div::before,
.panel.compact .btn.menu div::after {
    width: var(--menu-w-compact);
    transform: rotate(0);
}
.panel.compact .btn.menu:hover div::before,
.panel.compact .btn.menu:hover div::after {
    width: var(--menu-burger-w);
}

.panel .btn.menu div,
.panel .btn.menu div::before,
.panel .btn.menu div::after {
    background: var(--btn-fg);
    width: var(--menu-burger-w);
    height: var(--menu-burger-h);
    border-radius: calc(var(--menu-burger-h) * .5);
    margin: 0 auto;
    position: absolute;
    transition: all var(--animate-fast);
}
.panel .btn.menu div {
    left: var(--menu-burger-left);
    top: var(--menu-burger-top);

    transform: translateX(
            calc(
                var(--menu-burger-w) * .15
            )
        );
    background: transparent;
}
.panel .btn.menu div::before,
.panel .btn.menu div::after {
    content: '';
    left: 0;
}
.panel .btn.menu div::before {
    top: var(--menu-burger-offset);
    transform: rotate(45deg);
    transform-origin: top left;
}
.panel .btn.menu div::after {
    bottom: var(--menu-burger-offset);
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.panel .btn svg {
    height: var(--svg-size);
    transform-origin: center;
    transform: scale(.8);
    position: absolute;
    top: var(--svg-pos);
    left: var(--svg-pos);
}

.panel .btn.back svg {
    transform: scale(.75);
}
